@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Josefin+Sans:wght@300;400&&family=Josefin+Slab:wght@300;400');


:root{
    --about-box-width: 300px;
    --about-box-height: 200px;
    --header-height: 108px;
}

html{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body{
    margin: 0;
    font-size: 16px;
    font-family: "Josefin Slab", serif;
    font-weight: bold;
    color:rgb(27, 27, 27);
    background-color: rgb(228, 171, 97);
}

.background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url("https://i.imgur.com/reYH8wh.jpg");
    opacity: 10%;
    background-size: 200px;
}

h2{
    font-size: 40px;
    font-family: "Josefin Sans", "Josefin Slab", "sans-serif";
    font-weight: normal;
}

p{
    font-size: 18px;
}

a, a:hover, a:visited, a:active{
    color:rgb(48, 15, 0);
}

/* Header */
#header{
    font-family: "Mochiy Pop One", sans-serif;
    display: inline-flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: var(--header-height);
    top: 0;
    left: 0;
    background-color:rgb(206, 102, 53);
    color:rgb(255, 239, 233);
}

/*Header Left Side*/
#header-logo{
    display:inline-flex;
    flex-direction:row;
    margin-left: 80px;
    align-items: center;
    padding-right: 0px;
    margin-right: 0px;
}

#header-img{
    width: 100px;
    height: 100px;
    margin: -6px 10px;
}

#header-text{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#header-title, #header-subtitle{
    font-family: "Josefin Sans", "sans-serif";
    font-weight: bold;
}

#header-title{
    font-size: 44px;
    margin: 15px 0 0 15px;
}

#header-subtitle{
    font-size: 24px;
    height: 1.5em;
    margin: 0 0 0 15px;
    padding: 4px 3px;
}

/*Header Right Side*/
#header nav{
    font-size: 40px;
    font-weight: bold;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header nav a+a{
    margin-left: 25px;
}

#header nav a{
    color:rgb(255, 239, 233);
    text-decoration: none;
    padding: 8px;
}


/* Main */

/* About */
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*manually centering text*/
#about .spacing{
    height: var(--header-height);
    width: 0;
    border:none;
}

#about #boxes{
    width: 80%;
    display: grid;
    height: calc(2*var(--about-box-height) + 140px);
    grid-template-columns: repeat(4, 1fr var(--about-box-width)) 1fr;
    grid-template-rows: 1fr var(--about-box-height) 1fr var(--about-box-height) 1fr;
}

#about .about-box{
    height: var(--about-box-height);
    width: var(--about-box-width);
    padding: 10px 20px;
    border-radius: 5px;
    background-color:bisque;
    opacity: 90%;
    z-index: -1;
}

#about p{
    font-size: 22px;
    text-align: justify;
}

#who-we-are{
    grid-column: 2;
    grid-row: 2;
}

#our-mission{
    grid-column: 4;
    grid-row: 4;
}

#our-motto{
    grid-column: 6;
    grid-row: 2;
}

#our-investors{
    grid-column: 8;
    grid-row: 4;
}

#about h2{
    text-align: center;
}


/* Overview */
#overview{
    text-align: center;
    padding-top: var(--header-height);
    margin-top: 0;
}

iframe{
    display: block;
    margin: 50px auto 0 auto;
    width: 560px;
    height: 315px;
    padding: 20px;
    background-color:rgb(241, 172, 67);
    border-radius: 5px;
}

input[type="email"]{
    padding: 2px;
    border-radius: 1px;
}

input[type="submit"]{
    border: none;
    background-color:rgb(221, 72, 61);
    color:rgb(236, 236, 236);
    padding: 5px;
    border-radius: 2px;
}


/* Menu */
#order{
    text-align: center;
    padding-top: var(--header-height);
}

#order h2{
    font-size: 40px;
}

.soup-gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80vw;
    margin: auto auto;
}

/*img + caption*/
.soup-gallery figure{
    width: 200px;
    height: 210px;
    padding: 15px;
    padding-top: 0px;
    margin: 15px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 4px;

}

/*img*/
.soup-gallery img{
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

.soup-gallery figcaption{
    font-size: 22px;
    text-align: center;
    margin: auto auto;
}

.menu-item{
    margin: 15px 20px;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color:rgb(255, 247, 174);
    opacity: 90%;
    z-index: -1;
}

.buy{
    padding: 15px 30px;
    font-size: 1.8rem;
    border-radius: 3px;
    border: none;
    user-select: none;
    background-color:rgb(231, 114, 78);
}

.buy:active, .buy:hover{
    background-color:rgb(247, 94, 48);
    box-shadow: inset 0px 0px 15px rgb(247, 221, 204);
    color: rgb(247, 221, 204)
}


/* Footer */

footer p{
    display: block;
    position: relative;
    font-size:2;
    margin-left: 10px;
    padding: 2px 20px;
}


/**Media Size Adjustments*/

/* Small-width devices */
@media(max-width:800px){
     /* Header */
    #header{
        margin: 0;
        padding: 0;
    }
    #header-logo{
        margin-left: 0;
        width: 50%;
        margin: 0;
    }
    #header-title, #header-subtitle{
        margin: 0;
    }
    #header nav{
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        padding: 0;
        width: 50%;
    }
    #header nav a{
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
    #header nav a+a{
        margin: 1px;
    }

    /* Main */

    /* About */
    #about #boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(4*var(--about-box-height) + 140px);
        margin-bottom: 80px;
    }
    #about .about-box{
        margin: 40px;
    }
    
    /* Overview */
    iframe{
        width: 90vw;
        padding: 0px;
        margin: 0 auto;
        max-width: 560px;
    }

    /* Order */
    .soup-gallery{
        width: 100vw;
    }
}



/* Mid-width devices */
@media(max-width:1200px) and (min-width:801px){

    /* Header */
    #header-logo{
        margin-left: 0;
        width: 50%;
    }
    #header nav{
        margin: 0 10px;
    }
    #header nav a+a{
        margin: 2px;
    }
}

/* Mid-width devices, starting earlier */
@media (max-width:1380px) and (min-width: 801px){
    /* About */
    #about #boxes{
    width: 100%;
    grid-template-columns: 1fr var(--about-box-width) 1fr var(--about-box-width) 1fr;
    grid-template-rows: 1fr var(--about-box-height) 1fr var(--about-box-height) 1fr;
    }
    #who-we-are{
        grid-column: 2;
        grid-row: 2;
    }
    #our-mission{
        grid-column: 4;
        grid-row: 2;
    }
    #our-motto{
        grid-column: 2;
        grid-row: 4;
    }
    #our-investors{
        grid-column: 4;
        grid-row: 4;
    }
}

/*Smooth Scroll optional*/
@media (prefers-reduced-motion: no-preference){
  * {
    scroll-behavior: smooth;
  }
}