@import url('https://fonts.googleapis.com/css2?family=Cabin');

body{
    color: rgb(92, 6, 6);
    font-size: 18px;
    font-family: "Cabin", sans-serif;
    background-color:rgb(255, 241, 241);
    background-image: url('https://i.imgur.com/epXpRB0.png');
    background-blend-mode: overlay;
}

#title{
    font-family: "Cabin", sans-serif;
    color: rgb(0, 28, 51);
    font-size: 44px;
    text-align:center;
}

#description{
    text-align: center;
    font-size: 24px;
}

/* both survey-form + images */
ul{ 
    list-style-type: none;
    padding: 1em;
}

#survey-form{
    text-align:center;
    background-color: rgba(100, 73, 99, 0.4);
    width: 600px;
    padding: 0 1.5em;
    margin: 0 auto;
    border-radius: 3%;
    line-height: 2em;
}

/* Survey elements */

#survey-form ul li{
    background-color:rgba(132, 126, 158, 0.4);
    border-radius: 2.5%;
}

#name, #email, #number{
    font-family: "Cabin", sans-serif;
    font-size: .9em;
    color:rgb(92, 6, 6);
    background-color:rgb(255, 241, 241);
    text-align: justify;
    width: 200px;
}

#number{
    width: auto;
}

#dropdown{
    font-family: "Cabin", sans-serif;
    font-size: .9em;
    color: rgb(92, 6, 6);
    background-color: rgb(255, 241, 241);
}

#soup-checkboxes{
    display: flex;
    text-align: justify;
    justify-content: center;
}

#comments{
    font-family:"Cabin", sans-serif;
    font-size: .9em;
    color: rgb(92, 6, 6);
    background-color: rgb(255, 241, 241);
    border-radius: 2%;
    width: 300px;
    height: 100px;
    min-height: 100px;
    max-height: 300px;
    max-width: 300px; 
    min-width: 300px;
}

#submit{
    font-family:"Cabin", sans-serif;
    font-size: 1.2em;
    color: rgb(92, 6, 6);
    background-color: rgb(209, 122, 157);
    border-radius: 15%;
    border-width: 8px;
    border-color: rgb(241, 179, 204);
}

#submit:hover{
    background-color: rgb(179, 101, 132);
}

/* soup images */
.image-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-list figcaption{
    text-align: center;
}

.image-list img{
    border-radius: 20%;
    width: 145px;
    height: auto;
    padding: 8px;
    max-width: 100%;
}

footer{
    font-size: 2;
}


/* Adaptation for smaller screens */
@media(max-width:800px){
    #survey-form{
        width: 100%;
        padding: 0px;
    }
    #survey-form ul li{
        max-width: 100%;
    }
}
